# ignore pycharm ide files
*.idea

# ignore the code profiles directory
code_profiles/

# ignore lib/ directory changes on the branch add_feature_factory_class_implementation
lib/ 

# ignore the graph pdf files being spotaneously produced
src/*.gv.pdf
*.gv.pdf

# ignore cache files
.pytest_cache/
__pycache__/
src/__pycache__/